.git
.gitignore
.env
.env.*
!.env.example

node_modules
vendor

database/database.sqlite

storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests
.phpunit.cache

.DS_Store
